/*- ANAP DESIGN SYSTEM (WIP) -*/
:root {
  /* values */
  --anap-marge-XXXXXL: 100px;
  --anap-marge-XXXXL: 80px;
  --anap-marge-XXXL: 60px;
  --anap-marge-XXL: 40px;
  --anap-marge-XL: 30px;
  --anap-marge-L: 20px;
  --anap-marge-MML: 15px;
  --anap-marge-ML: 12px;
  --anap-marge-M: 10px;
  --anap-marge-S: 8px;
  --anap-marge-XS: 6px;
  --anap-marge-XXS: 4px;
  --anap-marge-XXXS: 2px;
  --anap-ts-titre-1: 64px;
  --anap-ts-titre-2: 48px;
  --anap-ts-titre-3: 32px;
  --anap-ts-titre-4: 26px;
  --anap-ts-titre-5: 20px;
  --anap-ts-soustitre-M: 36px;
  --anap-ts-soustitre-S: 20px;
  --anap-ts-soustitre-XS: 18px;
  --anap-ts-corps-L: 16px;
  --anap-ts-corps-M: 13.5px;
  --anap-ts-corps-S: 12px;
  --anap-fweight-regular: 400;
  --anap-fweight-regular--contrast: 500;
  --anap-fweight-semibold: 700;
  --anap-border-width: 2px;
  --anap-stroke-width: 2px;
  --anap-stroke-width--semibold: 2.65px;
  --anap-tr-fade: 150ms ease-out;
  --anap-tr-release: 250ms ease-out;
  --anap-tr-push: 50ms ease-out;
  --anap-tr-smooth: 0.35s cubic-bezier(0.4, 0, 0, 1);
  --anap-interaction-push-scale: 0.96;
  --anap-interaction-hover-scale: 1.1;
  /* colors */
  --anap-rgb-rouge-anap: 214, 13, 72;
  --anap-rgb-rouge-anap--hover: 166, 10, 56;
  --anap-rgb-bleu-anap: 9, 95, 181;
  --anap-rgb-bleu-anap-500: 128, 175, 218;
  --anap-rgb-blanc: 255, 255, 255;
  --anap-rgb-gris-clair: 242, 243, 247;
  --anap-rgb-noir: 0, 0, 0;
  --anap-rgb-noir-texte: 34, 34, 34;
  --anap-rgb-gris: 98, 88, 91;
  --anap-rgb-gris-moyen: 129, 119, 119;
  --anap-rgb-11-bleu: 19, 75, 134;
  --anap-c-rouge-anap: rgb(var(--anap-rgb-rouge-anap));
  --anap-c-rouge-anap--hover: rgb(var(--anap-rgb-rouge-anap--hover));
  --anap-c-bleu-anap: rgb(var(--anap-rgb-bleu-anap));
  --anap-c-bleu-anap-500: rgb(var(--anap-rgb-bleu-anap-500));
  --anap-c-blanc: rgb(var(--anap-rgb-blanc));
  --anap-c-gris-clair: rgb(var(--anap-rgb-gris-clair));
  --anap-c-noir: rgb(var(--anap-rgb-noir));
  --anap-c-noir-texte: rgb(var(--anap-rgb-noir-texte));
  --anap-c-gris: rgb(var(--anap-rgb-gris));
  --anap-c-gris-moyen: rgb(var(--anap-rgb-gris-moyen));
  --anap-c-11-bleu: rgb(var(--anap-rgb-11-bleu));
  --anap-rgb-accent: var(--anap-rgb-rouge-anap);
  --anap-rgb-bg: var(--anap-rgb-blanc);
  --anap-rgb-bg-2: var(--anap-rgb-gris-clair);
  --anap-rgb-texte: var(--anap-rgb-noir-texte);
  --anap-rgb-texte-2: var(--anap-rgb-gris);
  --anap-rgb-texte-accent: var(--anap-rgb-accent);
  --anap-rgb-tags-accent: var(--anap-rgb-gris);
  --anap-c-accent: rgb(var(--anap-rgb-accent));
  --anap-c-bg: rgb(var( --anap-rgb-bg));
  --anap-c-bg-2: rgb(var(--anap-rgb-bg-2));
  --anap-c-texte: rgb(var(--anap-rgb-texte));
  --anap-c-texte-2: rgb(var(--anap-rgb-texte-2));
  --anap-c-texte-accent: rgb(var(--anap-rgb-texte-accent));
  --anap-c-tags-accent: rgb(var(--anap-rgb-tags-accent));
}

html[data-anap-theme=dark] {
  --anap-rgb-bg: var(--anap-rgb-noir);
  --anap-rgb-bg-2: var(--anap-rgb-noir-texte);
  --anap-rgb-texte: var(--anap-rgb-blanc);
  --anap-rgb-texte-2: var(--anap-rgb-gris-clair);
}

@media (max-width: 600px) {
  :root {
    --anap-marge-XXXXXL: 100px;
    --anap-marge-XXXXL: 80px;
    --anap-marge-XXXL: 60px;
    --anap-marge-XXL: 40px;
    --anap-marge-XL: 30px;
    --anap-marge-L: 20px;
    --anap-marge-MML: 15px;
    --anap-marge-ML: 12px;
    --anap-marge-M: 10px;
    --anap-marge-S: 8px;
    --anap-marge-XS: 6px;
    --anap-marge-XXS: 4px;
    --anap-marge-XXXS: 2px;
    --anap-ts-titre-1: 46px;
    --anap-ts-titre-2: 42px;
    --anap-ts-titre-3: 34px;
    --anap-ts-titre-4: 28px;
    --anap-ts-soustitre-M: 26px;
    --anap-ts-soustitre-S: 20px;
    --anap-ts-soustitre-XS: 17px;
    --anap-ts-corps-L: 15px;
    --anap-ts-corps-M: 13px;
    --anap-ts-corps-S: 11px;
  }
}
html {
  font-size: 16px;
  font-size: var(--anap-ts-corps-L);
}

body {
  font-size: 1rem;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-weight: var(--anap-fweight-regular);
  line-height: 1.2;
  color: rgb(34, 34, 34);
  color: var(--anap-c-texte);
  background-color: rgb(255, 255, 255);
  background-color: var(--anap-c-bg);
}

/* - TEXT - */
p {
  font-size: 16px;
  font-size: var(--anap-ts-corps-L);
  max-width: 100%;
  text-wrap: pretty;
}

p b, span b,
h1 b, h2 b, h3 b, h4 b, h5 b, h6 b, h7 b {
  font-weight: 700;
  font-weight: var(--anap-fweight-semibold);
}
p i, span i,
h1 i, h2 i, h3 i, h4 i, h5 i, h6 i, h7 i {
  font-style: italic;
}
p u, span u,
h1 u, h2 u, h3 u, h4 u, h5 u, h6 u, h7 u {
  -webkit-text-decoration: underline;
  text-decoration: underline;
}
p tcolor, span tcolor,
h1 tcolor, h2 tcolor, h3 tcolor, h4 tcolor, h5 tcolor, h6 tcolor, h7 tcolor {
  color: rgb(214, 13, 72);
  color: var(--anap-c-texte-accent);
}
p trouge, span trouge,
h1 trouge, h2 trouge, h3 trouge, h4 trouge, h5 trouge, h6 trouge, h7 trouge {
  color: rgb(214, 13, 72);
  color: var(--anap-c-rouge-anap);
}

p + p {
  margin-top: 4px;
  margin-top: var(--anap-marge-XXS);
}

span,
.nb-full-height {
  font-feature-settings: "lnum";
  font-variant-numeric: lining-nums;
}

h1, h2, h3, h4, h5 {
  font-family: "Arya W00 Triple", "Raleway", sans-serif;
  text-transform: uppercase;
}

h1 {
  font-size: 64px;
  font-size: var(--anap-ts-titre-1);
  line-height: 95%;
  letter-spacing: -0.5px;
}

h2 {
  font-size: 48px;
  font-size: var(--anap-ts-titre-2);
  line-height: 100%;
  letter-spacing: -0.5px;
}

h3 {
  font-size: 32px;
  font-size: var(--anap-ts-titre-3);
  line-height: 105%;
}

h4 {
  font-size: 26px;
  font-size: var(--anap-ts-titre-4);
  line-height: 110%;
}

h5 {
  font-size: 20px;
  font-size: var(--anap-ts-titre-5);
  line-height: 110%;
}

h6 {
  font-size: 36px;
  font-size: var(--anap-ts-soustitre-M);
  line-height: 105%;
}

h7 {
  font-size: 20px;
  font-size: var(--anap-ts-soustitre-S);
  line-height: 110%;
}

/* - GENERAL - */
p a, span a {
  text-decoration: underline;
  -webkit-text-decoration: underline solid currentColor;
          text-decoration: underline solid currentColor;
  text-decoration-thickness: 1px;
  -webkit-text-decoration: underline 1px;
          text-decoration: underline 1px;
}

/* - UTILITIES - */
.anap-svg-stroke {
  stroke: var(--pias-c-accent);
  stroke-width: 2px;
  stroke-width: var(--anap-border-width);
  stroke-linecap: round;
  stroke-linejoin: round;
}

/* - COMPOSANTS - */
.anap-separator {
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  width: 100%;
  height: 2px;
  height: var(--anap-border-width);
  background-color: rgb(242, 243, 247);
  background-color: var(--anap-c-bg-2);
}
.anap-separator.sideways {
  width: 2px;
  width: var(--anap-border-width);
  height: 100%;
}
.anap-separator.style-accent {
  background-color: rgb(214, 13, 72);
  background-color: var(--anap-c-accent);
}

.anap-search-input {
  position: relative;
}
.anap-search-input .search-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  pointer-events: all;
  -webkit-user-select: text;
     -moz-user-select: text;
          user-select: text;
  --a-srch-c-bg: var(--anap-c-bg-2);
  --a-srch-c-inner: var(--anap-c-texte-2);
  --a-srch-c-border: var(--anap-c-rouge-anap);
  --a-srch-padding-w: var(--anap-marge-L);
  --a-srch-padding-h: var(--anap-marge-M);
  --a-srch-txt-size: var(--anap-ts-corps-M);
  --a-srch-height: calc(var(--a-srch-txt-size) + (var(--a-srch-padding-h) * 2));
  --a-srch-border-radius: calc(var(--a-srch-height) * 0.5);
  border-radius: calc((13.5px + (10px * 2)) * 0.5);
  border-radius: calc(calc(13.5px + (10px * 2)) * 0.5);
  border-radius: var(--a-srch-border-radius);
  font-size: 13.5px;
  font-size: var(--a-srch-txt-size);
  font-weight: 500;
  font-weight: var(--anap-fweight-regular--contrast);
  line-height: calc(13.5px + (10px * 2));
  line-height: var(--a-srch-height);
  text-align: left;
  color: rgb(98, 88, 91);
  color: var(--a-srch-c-inner);
}
.anap-search-input .search-container::after {
  z-index: -1;
  pointer-events: none;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: var(--a-srch-border-radius);
  background-color: var(--a-srch-c-bg);
  border: 2px solid var(--a-srch-c-border);
  border: var(--anap-border-width) solid var(--a-srch-c-border);
  transition: border 150ms ease-out;
  transition: border var(--anap-tr-fade);
}
.anap-search-input .search-container > * {
  flex-shrink: 0;
}
.anap-search-input .search-container input {
  flex-grow: 1;
  cursor: text;
  padding-left: var(--a-srch-padding-w);
  padding-right: var(--a-srch-padding-w);
  background-color: transparent;
  height: var(--a-srch-height);
  border-radius: var(--a-srch-border-radius) 0 0 var(--a-srch-border-radius);
}
.anap-search-input .search-container input::-moz-placeholder {
  opacity: 0.5;
}
.anap-search-input .search-container input::placeholder {
  opacity: 0.5;
}
.anap-search-input .search-container:hover {
  --a-srch-c-border: var(--anap-c-rouge-anap--hover);
}
.anap-search-input .search-container:focus-within {
  --a-srch-c-border: var(--anap-c-rouge-anap--hover);
}

.anap-btn {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  --a-btn-icon-size: 24px;
  --a-btn-txt-size: var(--anap-ts-corps-L);
  --a-btn-padding-w: var(--anap-marge-L);
  --a-btn-padding-h: var(--anap-marge-M);
  --a-btn-height: calc(var(--a-btn-txt-size) + (var(--a-btn-padding-h) * 2));
  --a-btn-border-radius: calc(var(--a-btn-height) * 0.5);
  --a-btn-c-bg: var(--anap-c-rouge-anap);
  --a-btn-c-border: var(--anap-c-rouge-anap);
  --a-btn-c-inner: var(--anap-c-blanc);
  --a-btn-c-bg--hover: var(--anap-c-rouge-anap--hover);
  --a-btn-c-border--hover: var(--anap-c-rouge-anap--hover);
  --a-btn-c-inner--hover: var(--anap-c-blanc);
  gap: 8px;
  gap: var(--anap-marge-S);
  padding: 10px 20px;
  padding: var(--a-btn-padding-h) var(--a-btn-padding-w);
  border-radius: calc((16px + (10px * 2)) * 0.5);
  border-radius: calc(calc(16px + (10px * 2)) * 0.5);
  border-radius: var(--a-btn-border-radius);
  font-size: 16px;
  font-size: var(--a-btn-txt-size);
  font-weight: 700;
  font-weight: var(--anap-fweight-semibold);
  line-height: 100%;
  border: 0px solid rgb(214, 13, 72);
  border: 0px solid var(--a-btn-c-border);
  background-color: rgb(214, 13, 72);
  background-color: var(--a-btn-c-bg);
  color: rgb(255, 255, 255);
  color: var(--a-btn-c-inner);
  --a-btn-icon-color: var(--a-btn-c-inner);
}
.anap-btn .icon-container {
  order: 1;
}
.anap-btn .icon-container {
  width: var(--a-btn-icon-size);
  height: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  order: 99;
}
.anap-btn .icon-container > * {
  position: absolute;
  flex-shrink: 0;
  width: var(--a-btn-icon-size);
  height: var(--a-btn-icon-size);
  opacity: 1;
  transform: scale(1);
}
.anap-btn .icon-container svg:not(.stroke) {
  fill: var(--a-btn-icon-color);
  stroke: none;
  stroke-width: 0;
}
.anap-btn .icon-container svg.stroke {
  stroke: var(--a-btn-icon-color);
  stroke-width: 2.65px;
  stroke-width: var(--anap-stroke-width--semibold);
  stroke-linejoin: round;
  stroke-linecap: round;
}
.anap-btn.style-secondaire {
  --a-btn-c-bg: var(--anap-c-bg);
  --a-btn-c-border: var(--anap-c-rouge-anap);
  --a-btn-c-inner: var(--anap-c-rouge-anap);
}
.anap-btn.style-secondaire.style-force-theme-light {
  --a-btn-c-bg: var(--anap-c-blanc);
}
.anap-btn.style-bleu {
  --a-btn-c-bg: var(--anap-c-11-bleu);
  --a-btn-c-border: var(--anap-c-11-bleu);
  --a-btn-c-bg--hover: var(--anap-c-bleu-anap);
  --a-btn-c-border--hover: var(--anap-c-bleu-anap);
}
.anap-btn.style-noir {
  --a-btn-c-bg: var(--anap-c-texte);
  --a-btn-c-border: var(--anap-c-texte);
  --a-btn-c-inner: var(--anap-c-bg);
}
.anap-btn.style-retour {
  --a-btn-c-bg: var(--anap-c-bg-2);
  --a-btn-c-border: var(--anap-c-bg-2);
  --a-btn-c-inner: var(--anap-c-texte);
  --a-btn-c-bg--hover: var(--anap-c-bg-2);
  --a-btn-c-border--hover: var(--anap-c-bg-2);
  --a-btn-c-inner--hover: var(--anap-c-accent);
}
.anap-btn.style-retour .icon-container {
  order: 0 !important;
}
.anap-btn {
  transition: border-color 150ms ease-out, background-color 150ms ease-out, color 150ms ease-out, transform 250ms ease-out;
  transition: border-color var(--anap-tr-fade), background-color var(--anap-tr-fade), color var(--anap-tr-fade), transform var(--anap-tr-release);
}
.anap-btn.style-push-inner > * {
  transition: transform 250ms ease-out;
  transition: transform var(--anap-tr-release);
}
.anap-btn .icon-container > * {
  transition: fill 150ms ease-out, stroke 150ms ease-out, opacity 150ms ease-out, transform 0.35s cubic-bezier(0.4, 0, 0, 1);
  transition: fill var(--anap-tr-fade), stroke var(--anap-tr-fade), opacity var(--anap-tr-fade), transform var(--anap-tr-smooth);
}
.anap-btn:hover, .anap-btn:active {
  background-color: var(--a-btn-c-bg--hover);
  border-color: var(--a-btn-c-border--hover);
  color: var(--a-btn-c-inner--hover);
  --a-btn-icon-color: var(--a-btn-c-inner--hover);
}
.anap-btn:hover.style-retour .icon-container > *, .anap-btn:active.style-retour .icon-container > * {
  transform: translateX(-0.25em);
}
.anap-btn:active {
  transition: border-color 150ms ease-out, background-color 150ms ease-out, color 150ms ease-out, transform 50ms ease-out;
  transition: border-color var(--anap-tr-fade), background-color var(--anap-tr-fade), color var(--anap-tr-fade), transform var(--anap-tr-push);
}
.anap-btn.style-push-inner:active > * {
  transition: transform 50ms ease-out;
  transition: transform var(--anap-tr-push);
}
.anap-btn:not(.style-push-inner):active, .anap-btn.style-push-inner:active > * {
  transform: rotateX(0.01deg) scale(0.96);
  transform: rotateX(0.01deg) scale(var(--anap-interaction-push-scale));
}
.anap-btn.size-m {
  --a-btn-txt-size: var(--anap-ts-corps-M);
}
.anap-btn.size-xl {
  gap: 10px;
  gap: var(--anap-marge-M);
  --a-btn-padding-w: 22px;
  --a-btn-padding-h: 12px;
  --a-btn-txt-size: var(--anap-ts-soustitre-S);
}
.anap-btn.size-xl .icon-container > * {
  width: 30px;
  height: 30px;
}
.anap-btn.style-secondaire, .anap-btn.toggle {
  border-width: 2px;
  border-width: var(--anap-border-width);
  padding: calc(10px - 2px) calc(20px - 2px);
  padding: calc(10px - var(--anap-border-width)) calc(20px - var(--anap-border-width));
  --a-btn-c-border: var(--anap-c-rouge-anap);
}
.anap-btn.toggle.active {
  --a-btn-c-bg: var(--anap-c-bg-2);
  --a-btn-c-border: var(--anap-c-rouge-anap);
  --a-btn-c-inner: var(--anap-c-rouge-anap);
  --a-btn-c-bg--hover: var(--anap-c-bg);
  --a-btn-c-border--hover: var(--anap-c-rouge-anap--hover);
  --a-btn-c-inner--hover: var(--anap-c-rouge-anap--hover);
}
.anap-btn.toggle:not(.active) .icon-container .toggle-active, .anap-btn.toggle.active .icon-container .toggle-active + *:not(.toggle-active) {
  opacity: 0;
  transform: scale(0.75);
}
.anap-btn.toggle.style-secondaire.active {
  --a-btn-c-bg: var(--anap-c-rouge-anap--hover);
  --a-btn-c-border: var(--anap-c-rouge-anap--hover);
  --a-btn-c-inner: var(--anap-c-blanc);
  --a-btn-c-bg--hover: var(--anap-c-rouge-anap--hover);
  --a-btn-c-border--hover: var(--anap-c-rouge-anap);
  --a-btn-c-inner--hover: var(--anap-c-blanc);
}
.anap-btn.style-pastille {
  align-items: center;
  justify-content: center;
  box-sizing: content-box;
  width: var(--a-btn-txt-size);
  height: var(--a-btn-txt-size);
  padding: var(--a-btn-padding-h);
}
.anap-btn.style-pastille.toggle {
  padding: calc(var(--a-btn-padding-h) - 2px);
  padding: calc(var(--a-btn-padding-h) - var(--anap-border-width));
}

.anap-tag {
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  flex-shrink: 0;
  position: relative;
  padding: 8px 6px;
  padding: calc(8px - 2px) calc(6px - 2px);
  padding: calc(8px - var(--anap-border-width)) calc(6px - var(--anap-border-width));
  border-radius: 5px;
  font-size: 12px;
  font-size: var(--anap-ts-corps-S);
  font-weight: 600;
  line-height: 100%;
  --tag-color: var(--anap-c-tags-accent);
  --tag-bg: var(--anap-c-bg);
  border: 0px solid rgb(98, 88, 91);
  border: 0px solid var(--tag-color);
  background-color: rgb(98, 88, 91);
  background-color: var(--tag-color);
  color: rgb(255, 255, 255);
  color: var(--tag-bg);
}
.anap-tag.style-secondaire {
  border-width: 2px;
  border-width: var(--anap-border-width);
  background-color: var(--tag-bg);
  color: var(--tag-color);
}
.anap-tag.alt {
  border-color: var(--tag-bg);
  background-color: var(--tag-bg);
  color: var(--tag-color);
}
.anap-tag.alt.style-secondaire.alt {
  background-color: transparent;
  color: var(--tag-bg);
}
.anap-tag.invert {
  --tag-color: var(--anap-c-blanc);
  --tag-bg: var(--anap-c-tags-accent);
}
.anap-tag {
  transition: filter 150ms ease-out, background-color 150ms ease-out;
  transition: filter var(--anap-tr-fade), background-color var(--anap-tr-fade);
}
.anap-tag:hover {
  filter: brightness(1.2) contrast(1);
}
.anap-tag:hover.style-secondaire.alt {
  background-color: rgba(rgb(255, 255, 255), 0.2);
  background-color: rgba(var(--anap-c-bg), 0.2);
}

.anap-theme-switcher {
  z-index: 100;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  pointer-events: all;
  --anap-indicator-size: var(--anap-marge-XL);
  --anap-indicator-padding: var(--anap-marge-XS);
  --anap-switch-padding: var(--anap-marge-XS);
  --anap-switch-offset: var(--anap-marge-XS);
  position: fixed;
  bottom: 40px;
  bottom: var(--anap-marge-XXL);
  right: 40px;
  right: var(--anap-marge-XXL);
}
.anap-theme-switcher > wrapper {
  position: relative;
  width: calc(var(--anap-indicator-size) * 2 - var(--anap-switch-offset) + var(--anap-switch-padding) * 2);
  height: auto;
  padding: var(--anap-switch-padding);
  border-radius: 999rem;
  background-color: rgb(242, 243, 247);
  background-color: var(--anap-c-bg-2);
}
.anap-theme-switcher .anap-theme-indicator {
  position: relative;
  transform: translateX(0);
  transition: transform 0.35s cubic-bezier(0.4, 0, 0, 1);
  transition: transform var(--anap-tr-smooth);
}
.anap-theme-switcher .anap-theme-indicator > wrapper {
  position: relative;
  border-radius: 999rem;
  background-color: rgb(255, 255, 255);
  background-color: var(--anap-c-bg);
  width: var(--anap-indicator-size);
  height: var(--anap-indicator-size);
  padding: var(--anap-indicator-padding);
}
.anap-theme-switcher .anap-theme-indicator svg {
  position: absolute;
  top: var(--anap-indicator-padding);
  left: var(--anap-indicator-padding);
  width: calc(100% - var(--anap-indicator-padding) * 2);
  height: calc(100% - var(--anap-indicator-padding) * 2);
  display: block;
  opacity: 0;
  transition: transform 0.6s cubic-bezier(0.3, 0.1, 0, 1);
}
.anap-theme-switcher .anap-theme-indicator svg.anap-icon--light {
  fill: rgb(129, 119, 119);
  fill: var(--anap-c-gris-moyen);
}
.anap-theme-switcher .anap-theme-indicator svg.anap-icon--dark {
  fill: rgb(242, 243, 247);
  fill: var(--anap-c-gris-clair);
}
html[data-anap-theme=light] .anap-theme-switcher .anap-icon--light {
  opacity: 1;
  transform: rotateZ(0deg);
}
html[data-anap-theme=light] .anap-theme-switcher .anap-icon--dark {
  transform: rotateZ(180deg);
}
html[data-anap-theme=light] .anap-theme-switcher .anap-theme-indicator {
  transform: translateX(0deg);
}
html[data-anap-theme=dark] .anap-theme-switcher .anap-icon--light {
  transform: rotateZ(-90deg);
}
html[data-anap-theme=dark] .anap-theme-switcher .anap-icon--dark {
  opacity: 1;
  transform: rotateZ(0);
}
html[data-anap-theme=dark] .anap-theme-switcher .anap-theme-indicator {
  transform: translateX(calc(var(--anap-indicator-size) - var(--anap-switch-offset)));
}
.anap-theme-switcher > wrapper {
  transform: rotateX(0.01deg) scale(1);
  transition: transform 250ms ease-out;
  transition: transform var(--anap-tr-release);
}
.anap-theme-switcher > wrapper .anap-theme-indicator > wrapper {
  transition: transform 0.35s cubic-bezier(0.4, 0, 0, 1);
  transition: transform var(--anap-tr-smooth);
}
.anap-theme-switcher > wrapper:hover .anap-theme-indicator > wrapper {
  transform: rotateX(0.01deg) scale(1.1) !important;
}
.anap-theme-switcher > wrapper:active {
  transform: rotateX(0.01deg) scale(0.96);
  transform: rotateX(0.01deg) scale(var(--anap-interaction-push-scale));
  transition: transform 50ms ease-out;
  transition: transform var(--anap-tr-push);
}
.anap-theme-switcher > wrapper:active .anap-theme-indicator > wrapper {
  transform: scale(1) !important;
  transition: transform 50ms ease-out;
  transition: transform var(--anap-tr-push);
}